<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="hu">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, sans-serif;
      }

      .banner {
        color: #062c4c;
        font-size: 1.875rem;
        font-family: 'Aclonica', sans-serif; /* TODO */
        margin-left: 20px;
        text-decoration: none;
        font-weight: 700;
      }

      .banner-container {
        padding: 0.5rem 0 0.5rem 0;
        box-shadow: 0 -0.1rem 1rem #062a4c;
      }
      .container {
        margin: 20px;
      }

      .title {
        font-size: 1.8rem;
        text-align: center;
      }

      .subtitle {
        text-align: center;
        font-size: 1rem;
      }
      .centered {
        text-align: center;
      }
      .bottom {
        margin-bottom: 20px;
      }

      .konzi-container {
        margin-top: 0.5rem;
        padding: 1rem;
        border-color: #e2e8f0;
        border-style: solid;
        border-radius: 1rem;
        border-width: 1px;
        page-break-inside: avoid;
      }
      .presenters-container {
        margin-left: 10px;
      }

      .konzi-title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        margin-right: 5px;
      }

      .no-decor {
        text-decoration: none;
        color: black;
      }

      .konzi-section {
        margin-bottom: 0.15rem;
      }

      .no-konzi {
        margin-top: 50px;
      }

      .italic {
        font-style: italic;
        text-align: center;
      }

      .kirdev {
        max-width: 6rem;
        max-height: 6rem;
      }

      footer {
        margin-top: 30px;
        text-align: center;
      }

      .love {
        margin-bottom: 10px;
      }

      .alert-cont {
        display: flex;
        align-items: center;
        background-color: #c6f6d5;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-radius: 0.375rem;
        margin-bottom: 0.5rem;
      }

      .alert-icon {
        color: #38a169;
        flex-shrink: 0;
        margin-inline-end: 0.75rem;
        width: 1.25rem;
        height: 1.5rem;
      }

      .alert-svg {
        display: inline-block;
        width: 100%;
        height: 100%;
      }

      .alert-text-div {
        margin-top: 0.5rem;
      }

      .alert-text {
        margin-bottom: 0.5rem;
      }
      .konzi-title-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
      }
    </style>
  </head>

  <body>
    <div class="banner-container">
      <a href="<%= konzisiteUrl %>" target="_blank" class="banner">Konzisite</a>
    </div>
    <div class="container">
      <% if (validated) { %>
      <div class="alert-cont">
        <span class="alert-icon">
          <svg viewBox="0 0 24 24" focusable="false" class="alert-svg">
            <path
              fill="currentColor"
              d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z"
            ></path>
          </svg>
        </span>
        <div class="alert-text-div">
          <p class="alert-text">
            Ez egy érvényes riport, mely bizonyítottan az új Konzisite-on lett
            generálva valós adatok alapján!
          </p>
        </div>
      </div>
      <% } %> <% if (typeof user !== 'undefined') { %>
      <h2 class="title"><%= user.fullName %> által tartott konzultációk</h2>
      <% } else { %>
      <h2 class="title">Konzultációk listája</h2>
      <% } %>
      <p class="centered"><%= startDate %> és <%= endDate %> között</p>
      <p class="centered">Generálva: <%= currentDateTime %></p>
      <% if (!validated && typeof validateUrl !== 'undefined') { %>
      <p class="centered bottom">
        <a href="<%= validateUrl %>">Dokumentum validálása</a>
      </p>
      <% } %> <% for (let i = 0; i < consultations.length; i++) { %>
      <div class="konzi-container">
        <a
          target="_blank"
          class="no-decor"
          href="<%= konzisiteUrl %>/consultations/<%= consultations[i].id %>"
        >
          <div class="konzi-title-container">
            <h3 class="konzi-title"><%= consultations[i].name %></h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="20px"
              height="20px"
            >
              <path
                d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              />
            </svg>
          </div>
        </a>

        <p class="konzi-section">
          <%= consultations[i].date %> <%= consultations[i].startTime %> - <%=
          consultations[i].endTime %>
        </p>
        <p class="konzi-section">
          Tárgy: <%= consultations[i].subject.name %> (<%=
          consultations[i].subject.code %>)
        </p>
        <p class="konzi-section">Helyszín: <%= consultations[i].location %></p>
        <div class="konzi-section">
          <h4>Előadók és átlagos értékeléseik</h4>
          <div class="presenters-container">
            <% for (let j = 0; j < consultations[i].presentations.length; j++) {
            %> <% if (typeof user !== 'undefined' &&
            consultations[i].presentations[j].id === user.id) { %>
            <p>
              <b
                ><%= consultations[i].presentations[j].fullName %> - <%=
                consultations[i].presentations[j].averageRating %></b
              >
            </p>
            <% } else { %>
            <p>
              <%= consultations[i].presentations[j].fullName %> - <%=
              consultations[i].presentations[j].averageRating %>
            </p>
            <% } %> <% } %>
          </div>
        </div>

        <h4>Résztvevők száma: <%= consultations[i].participants %></h4>
      </div>
      <% } %> <% if (consultations.length === 0) { %>
      <div class="no-konzi">
        <% if (typeof user !== 'undefined') { %>
        <p class="italic">
          Ez a felhasználó nem tartott konzultációkat ebben az időszakban.
        </p>
        <% } else { %>
        <p class="italic">Nem voltak konzultációk ebben az időszakban.</p>
        <% } %>
      </div>
      <% } %>
    </div>

    <footer>
      <p class="love">Made with ❤️ by</p>
      <a target="_blank" href="https://kir-dev.hu">
        <img
          src="https://warp.sch.bme.hu/images/kir-dev_new-png"
          class="kirdev"
        />
      </a>
    </footer>
  </body>
</html>
