<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="hu">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h1>Konzisite</h1>
    <% if (typeof user !== 'undefined') { %>
      <h2><%= user.fullName %> által tartott konzultációk</h2>
    <% } else { %>
      <h2>Konzultációk listája</h2>
    <% } %>
    <h3><%= startDate %> és <%= endDate %> között</h3>
    <h3>Generálva: <%= currentDateTime %></h3>

    <% for (let i = 0; i < consultations.length; i++) { %>
    <h3><%= consultations[i].name %></h3>
    <h4><%= consultations[i].date %> <%= consultations[i].startTime %> - <%= consultations[i].endTime %></h4>
    <h4>Tárgy: <%= consultations[i].subject.name %></h4>
    <h4>Helyszín: <%= consultations[i].location %></h4>
    <h4>Előadók:</h4>
      <% for (let j = 0; j < consultations[i].presentations.length; j++) { %>
        <% if (typeof user !== 'undefined' && consultations[i].presentations[j].id === user.id) { %>
          <p><b><%= consultations[i].presentations[j].fullName %>: <%= consultations[i].presentations[j].averageRating %></b></p>
        <% } else { %>
          <p><%= consultations[i].presentations[j].fullName %>: <%= consultations[i].presentations[j].averageRating %></p>
        <% } %>
      <% } %>
    <h4>Résztvevők száma: <%= consultations[i].participants %></h4>
    <% } %>
  </body>
</html>
