<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="hu">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h1>Konzisite</h1>
    <h2><%= user.fullName %> által tartott konzultációk</h2>
    <h3><%= startDate %> és <%= endDate %> között</h3>

    <% for (let i = 0; i < consultations.length ; i++) { %>
    <h3><%= consultations[i].name %></h3>
    <h4><%= consultations[i].startDate %> - <%= consultations[i].endDate %></h4>
    <h4>Tárgy: <%= consultations[i].subject.name %></h4>
    <h4>Helyszín: <%= consultations[i].location %></h4>
    <h4>Előadók: TODO</h4>
    <h4>Résztvevők száma: <%= consultations[i].participants %></h4>
    <h4>
      <%= user.fullName %> átlagos értékelése: <%=
      consultations[i].averageRating %>
    </h4>
    <% } %>
  </body>
</html>
